{% extends "Base.html" %}
{% block page_title %}All Announcements{% endblock %}
{% block page_content %}
<div class="full box">
    <h1 class="bigTitle">All Announcements</h1>
{% for a in announcements %}
    <div class="commentWrapper">
    <p>
        <a href="{{ a.get_absolute_url }}">{{ a.title }}</a><br>
         {{ a.body_text }}<br>
         <i>posted by {{ a.author.username }} on {{ a.pub_date }}</i>
    </p>
    </div>
{% endfor %}

{% if announcements.has_previous %}
    <a href="{{ request.get_full_path }}{{ announcements.previous_page_number }}">previous</a>
{% endif %}
Page {{ announcements.number }} of {{ announcements.paginator.num_pages }}.
{% if announcements.has_next %}
    <a href="{{ request.get_full_path }}{{ announcements.next_page_number }}">next</a>
{% endif %}
</div>
{% endblock %}