<html>
<head>
<title>All announcements</title>
</head>
<body>
{% for a in announcements %}
   announcement title: {{ a.title }}<br>
   announcement body: {{ a.body_text }}<br>
   announcement date: {{ a.pub_date }}<br>
   announcement author: {{ a.author.email }}<br>
   <hr />
{% endfor %}
<br><br>
I'm now gonna start paginating:<br><br>
{% if announcements.has_previous %}
    <a href="{{ request.get_full_path }}{{ announcements.previous_page_number }}">previous</a>
{% endif %}
Page {{ announcements.number }} of {{ announcements.paginator.num_pages }}.
{% if announcements.has_next %}
    <a href="{{ request.get_full_path }}{{ announcements.next_page_number }}">next</a>
{% endif %}

</body>
</html>
