<!DOCTYPE html >
<html>
<head>
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link href='http://fonts.googleapis.com/css?family=Princess+Sofia|Inconsolata|Quantico' rel='stylesheet' type='text/css'>
</head>
<!--
 __   __   ______     ______     __  __     ______     __  __     ______     __   __     ______    
/\ \ / /  /\  ___\   /\  == \   /\ \_\ \   /\  == \   /\ \/\ \   /\  ___\   /\ "-.\ \   /\  __ \   
\ \ \'/   \ \  __\   \ \  __<   \ \____ \  \ \  __<   \ \ \_\ \  \ \  __\   \ \ \-.  \  \ \ \/\ \  
 \ \__|    \ \_____\  \ \_\ \_\  \/\_____\  \ \_____\  \ \_____\  \ \_____\  \ \_\\"\_\  \ \_____\ 
  \/_/      \/_____/   \/_/ /_/   \/_____/   \/_____/   \/_____/   \/_____/   \/_/ \/_/   \/_____/ 
                                  VERYBUENO UP IN THIS BITCH 
-->                                                                                                  
<body>
    <div id="container">
    <div id="nudge"></div>
    <div id="header">
        {% include "Nav.html" %}
    </div>

    <div id="content">
        {% block before_wrap %}{% endblock %}
        <div class="wrapper">
        {% block page_content%}{% endblock %}
        <div class="spacer"></div>
        </div>
    </div>
    
    <div id="footer">
        <div id="footerBox">
            <p>
            Contest hosted by <a href="#">The White Hat</a><br>
        </div>
    </div>
    </div>
</body>
</html>