<!DOCTYPE html>
<html>
    <head>
        <title>{% block page_title %}{% endblock %}</title>
        <link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        
    </head>
    <body>
        <div id="header">
            <div id="headerText">
            <h1>Chase The Cheshire Cat</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{% url score %}">Scores</a></li>
                <li><a href="/page/info/rules">Rules</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url player_home %}">My Profile</a></li>
                    {% if user.get_profile.is_confirmed %}
                    <li><a href="{% url game_home %}">Play</a></li>
                    {% endif %}
                <li><a href="/logout/">Logout</a></li>
                {% else %}
                <li><a href="/login/">Login</a></li>
                <li><a href="{% url new_player %}">Register</a></li>
                {% endif %}
                
            </ul>
            </div>
        </div>
        <div id="content">            
            {% block page_content %}{% endblock %}
            <div class="spacer"></div>
        </div>
    </body>
</html>