{% load comments %}
{% if page.comments_allowed %}

    <div class="full box">
    <h1 class="bigTitle">Comments</h1>
    {%  get_comment_list for page as comment_list %}
    {% for comment in comment_list%}
       <div class="commentWrapper">
       <p>
       <span class="commentName">{{ comment.user_name }}</span> says:<br>
       {{ comment.comment }}<br>
       <span class="commentDate">{{ comment.submit_date }}</span>
       </p>
       </div>
    {% endfor %}
    {% if user.is_authenticated %}<br>
    <h2 class="bigTitle">Post a Comment</h2>
    {% get_comment_form for page as form %}
    <div class="form">
    <form action="{% comment_form_target %}" method="post">
    {% csrf_token %}
    <label for="id_comment" >Comment:</label>
    <textarea id="id_comment" rows="4" name="comment" class="beautifulText"></textarea>
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <div style="display:none">
    {{ form.honeypot }}
    <input type="hidden" name="name" value="{{ user.username }}" />
    </div>
    <input type="hidden" name="next" value="{{ request.path }}" />
    <br />
    <input type="submit" name="submit" value="Post">
    </form>
    </div>
    {% else %}
       <br>Please login to post comments<br>
    {% endif %}
    </div>
{% else %}
<div class="full box">
    <h1 class="bigTitle">Comments</h1>
Comments are not allowed on this page.
</div>
{% endif %}