{% load comments %}
{% if page.comments_allowed %}

    <div class="bigBox">
    <h1>Comments</h1>
    {%  get_comment_list for page as comment_list %}
    {% for comment in comment_list%}
       <div class="listBox">
       <p>
       <strong>{{ comment.user_name }}</strong> says:<br>
       {{ comment.comment }}<br>
       <i>{{ comment.submit_date }}</i>
       </p>
       </div>
    {% endfor %}
    {% if user.is_authenticated %}
    <strong>Post a comment:</strong>
    {% get_comment_form for page as form %}
    <form action="{% comment_form_target %}" method="post">
    {% csrf_token %}
    <label for="id_comment" >{{ user.username }} says:</label><br />
    <textarea id="id_comment" rows="4" name="comment" class="beautifulText"></textarea>
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <div style="display:none">
    {{ form.honeypot }}
    <input type="hidden" name="name" value="{{ user.username }}" />
    </div>
    <input type="hidden" name="next" value="{{ request.path }}" />
    <br />
    <input type="submit" name="submit" value="Post">
    </form>
    {% else %}
       <br>please login to view comments<br>
    {% endif %}

{% else %}

<br><br>comments are not allowed on this page.<br>
</div>
{% endif %}