{% extends "Base.html" %}
{% block page_title %}Join a team{% endblock %}
{% block page_content %}
<div class="full box">
<h1 class="bigTitle">Join a Team</h1>
{% if user.is_authenticated  %}
<div class="form">
<form action="." method="post">{% csrf_token %}
{{ form.non_field_errors }}
{% for field in form %}
{{ field.errors }}
{{ field.label_tag }} {{ field }} <br>
{% endfor %}
<input type="submit" value="join team" />
</form>
</div>
{% else %}
<p>You must be logged in to join a team.</p>
{% endif %}
</div>
{% endblock %}