{% extends "Base.html" %}
{% block page_title %}Welcome{% endblock %}
{% block page_content %}
<div class="bigBox">
<h1>Welcome!</h1>
<p>The goal of the scavenger hunt is to get a hacker's mindset.<br>
NO EXPERIENCE NECESSARY<br>
But we expect you to learn... =^-^=<br>
Good luck!
</p>
</div>
<div class="halfBox fLeft">
<h1>Latest Announcements</h1>
<ul>
    {% for a in announcements %}
    <li><a href="{{ a.get_absolute_url }}">{{ a.title }}</a><br>{{ a.body_text }}</li>
    {% endfor %}
</ul>
<a href="page/announcements/">&raquo; View all announcements</a>                
</div>
<div class="halfBox fRight">
{% if user.is_authenticated %}
    {% if user.get_profile.is_judge %}
<a href="/page/newinfopage">create a new info page</a> <br>
<a href="/page/newannouncement">create a new announcement</a><br>
{% else %}
you must be judge to post new content
{% endif %}
{% endif %}
</div>
{% endblock %}
