{% extends "Base.html" %}
{% block page_title %}Register new player{% endblock %}
{% block page_content %}
<div class="full box">
<h1 class="bigTitle">Register</h1>
<div class="form fLeft">
        <form action="{% url new_player %}" method="post">{% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                {{ field.errors }}
                {{ field.label_tag }}  {{ field }}
            {% endfor %}
            <input type="submit" value="Register"/>
        </form>
    <div class="spacer"></div>
</div>
<div id="registrationHelper" class="fRight">

    30 Chars or fewer. Letters, digits, underscores.
    <br>
    Atleast 5 chars, <strong>must</strong> have upper,lower, digits.
    <br>
    <br>
    <br>
    <br>
    A little about yourself.

</div>
 <div class="spacer"></div>
</div>
{% endblock %}
