{% extends "Base.html" %}
{% block page_title %}Register new player{% endblock %}
{% block page_content %}
<div class="bigBox">
<h1>Register</h1>
        <form action="{% url new_player %}" method="post">{% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                {{ field.errors }}
                {{ field.label_tag }} : {{ field }}<br>
            {% endfor %}
            <input type="submit" value="add user"/>
        </form>
</div>
{% endblock %}
