{% extends "Base.html" %}
{% block page_title %}{{ player.user.username }}{% endblock %}
{% block page_content %}
<div class="full box">
<h1 class="bigTitle">{{ player.user.username }}</h1>
<p><strong>Member Since: </strong> {{ player.user.date_joined }}</p>
{% if player.team %}
<p><strong>Team:</strong> {% if user.get_profile.is_confirmed %}<a href="{{ player.team.get_absolute_url }}">{{ player.team.name }}</a>{% else %} None{% endif %}</p>
{% else%}
<p>Not part of a team</p>
{% endif %}
<p><strong>About {{player.user.username}}: </strong> <br>{{ player.about }}</p>
</div>

{% endblock %}
