{% extends "Base.html" %}
{% block page_title %}Unlock Series{% endblock %}
{% block page_content %}
<div class="full box">
<h1 class="bigTitle">Unlock Series</h1>
{% if user.is_authenticated  %}
<div class="form">
<form action="{% url unlock_series %}" method="post">{% csrf_token %}
{{ form.non_field_errors }}
{% for field in form %}
{{ field.errors }}
{{ field.label_tag }} {{ field }} 
{% endfor %}
<input type="submit" value="unlock" />
</form>
</div>
{% else %}
You must be logged in to unlock.
{% endif %}
</div>
{% endblock %}