{% extends "Base.html" %}
{% block page_title %}Unlock Series{% endblock %}
{% block page_content %}
<div class="bigBox">
<h1>Unlock Series</h1>
{% if user.is_authenticated  %}
<form action="{% url unlock_series %}" method="post">{% csrf_token %}
{{ form.non_field_errors }}
{% for field in form %}
{{ field.errors }}<br>
{{ field.label_tag }} : {{ field }} <br>
{% endfor %}
<input type="submit" value="unlock" />
</form>
{% else %}
You must be logged in to unlock.
{% endif %}
</div>
{% endblock %}