{% extends "Base.html" %}
{% block page_title %}Update team info{% endblock %}
{% block page_content %}
<div class="bigBox">
<h1>Update team info</h1>
{% if user.is_authenticated and user.get_profile.team and user.get_profile.is_confirmed%}
<form action="." method="post">{% csrf_token %}
{{ form.non_field_errors }}
{% for field in form %}
{{ field.errors }}<br>
{{ field.label_tag }} : {{ field }} <br>
{% endfor %}
<input type="submit" value="update team info" />
</form>
{% else %}
You are not part of any team.
{% endif %}

</div>
{% endblock %}
