{% extends "Base.html" %}
{% block page_title %}Update player info{% endblock %}
{% block page_content %}
<div class="full box">
<h1 class="bigTitle">Update player info</h1>
{% if user.is_authenticated %}
<div class="form">
<form action="." method="post">{% csrf_token %}
{{ form.non_field_errors }}
{% for field in form %}
{{ field.errors }}
{{ field.label_tag }} {{ field }}
{% endfor %}
<input type="submit" value="update player info" />
</form>
</div>
{% else %}
You are not logged in.
{% endif %}

</div>
{% endblock %}
