{% extends "Base.html" %}
{% block page_title %}{{ challenge.name }}{% endblock %}
{% block page_content %}
{% if not user.is_authenticated %}
    <div class="full box">
    <h1 class="bigTitle">Not Logged in</h1>
    Please log in.
    </div>
{% else %}
    <div class="quarter box fLeft">
        <h1 class="bigTitle">Actions</h1>
        <ul class="actions">
            {% if submit_allowed %}
            {% ifequal challenge.deliverable "key" %}    
                <li><a href="/game/submitkey/{{ challenge.id }}/">Submit</a></li>
            {% else %}
                <li><a href="/game/submitfile/{{ challenge.id }}/">SUBMIT</a></li>
            {% endifequal %}
        {% else%}
            Submission not allowed, probably pending approval.
        {% endif %}
        </ul>
    </div>
    <div class="threeFourths fRight box">
    <h1 class="bigTitle">{{ challenge.name }} - {{ challenge.points }} points</h1>
    <p>{{ challenge.description }}</p>
    <i>Posted on {{ challenge.pub_date }}</i>
    {% if completed %}
        <p>You have already completed this challenge!</p>
    {% else %}
        
    {% endif %}
    </div>
{% endif %}
{% endblock %}
