/* Have ideas for improving this CSS for the general community? Submit your changes at: https://github.com/Valums-File-Uploader/file-uploader */
.qq-uploader {
	position: relative;
	width: 100%;
}
.qq-upload-button {
	background:#ddd;
	background:-moz-linear-gradient(90deg, #B23394, #681D62); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#681D62), to(#B23394)); /* Webkit */
	border:1px solid #093c75;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0 1px 0 #fff;
	-webkit-box-shadow:0 1px 0 #fff;
	color:#fff;
	cursor:pointer;
	font-family:Arial,sans-serif;
	font-size:16px;
line-height: 30px;
	font-weight:bold;
        text-align:center;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0 1px 1px #333;
	text-transform:uppercase;
        width: 140px;
        height: 30px;
}
.qq-upload-button-hover {
	background:#eee;
	background:-moz-linear-gradient(90deg, #E074C5, #AA4CA3);
	background:-webkit-gradient(linear, left top, left bottom, from(#AA4CA3), to(#E074C5));
	border-color:#093c75;
	text-decoration:none;
}
.qq-upload-button-focus {
	outline: 1px dotted #000000;
}
.qq-upload-drop-area, .qq-upload-extra-drop-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 30px;
	z-index: 2;
	background: #FF9797;
	text-align: center;
}
.qq-upload-drop-area span {
	display: block;
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -8px;
	font-size: 16px;
}
.qq-upload-extra-drop-area {
	position: relative;
	margin-top: 50px;
	font-size: 16px;
	padding-top: 30px;
	height: 20px;
	min-height: 40px;
}
.qq-upload-drop-area-active {
	background: #FF7171;
}
.qq-upload-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.qq-upload-list li {
	margin: 5px 0px 5px 10px;
	padding: 9px;
	line-height: 15px;
	font-size: 16px;
	background-color: #777;
}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
	margin-right: 12px;
}
.qq-upload-file {
}
.qq-upload-spinner {
	display: inline-block;
	background: url("loading.gif");
	width: 15px;
	height: 15px;
	vertical-align: text-bottom;
}
.qq-upload-size, .qq-upload-cancel {
	font-size: 12px;
	font-weight: normal;
}
.qq-upload-failed-text {
	display: none;
}
.qq-upload-fail .qq-upload-failed-text {
	display: inline;
}
.qq-upload-list li.qq-upload-success {
	background-color: #5DA30C;
	color: #FFFFFF;
}
.qq-upload-list li.qq-upload-fail {
	background-color: #D60000;
	color: #FFFFFF;
}
